* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--minidark);
    direction: ltr;
}


/* root vars */

:root {
    --minidark: rgb(29, 27, 27);
    --dark: #000;
    --purple: rgb(160, 74, 177);
    --light: #fff;
}


/* Header.jsx styles */

.Logo {
    position: absolute;
    left: 7.5%;
    top: 4.5%;
    width: 4%;
    cursor: pointer;
}


/* header items */

.Items {
    color: var(--light);
    display: flex;
    justify-content: right;
    gap: 1.6rem;
    list-style: none;
    padding: 3rem 8rem;
    font-family: 'Baloo Bhaijaan 2', cursive;
}

.Items li {
    cursor: pointer;
}

@media (max-width:400px) {
    .Items {
        display: none;
    }
}


/* hamberger menu */

.HamberMenu {
    width: 2rem;
    display: none;
}

@media (max-width:400px) {
    .HamberMenu {
        display: block;
        position: absolute;
        padding: 1rem;
        right: 0;
    }
}