* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--minidark);
    direction: ltr;
}


/* root vars */

:root {
    --minidark: rgb(29, 27, 27);
    --dark: rgb(20, 20, 20);
    --purple: rgb(54, 84, 184);
    --light: rgb(233, 224, 224);
}


/* Header.jsx styles */

.Logo {
    position: absolute;
    left: 7.5%;
    top: 4.5%;
    width: 4%;
    cursor: pointer;
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@media (max-width:400px) {
    .Logo {
        width: 10%;
        top: 3%;
    }
}


/* header items */

.Items {
    color: var(--light);
    display: flex;
    justify-content: right;
    gap: 1.6rem;
    list-style: none;
    padding: 3rem 8rem;
    font-family: 'Roboto Condensed', sans-serif;
    font-variant: small-caps;
}

.Items li {
    cursor: pointer;
}

.Items li:hover {
    border-bottom: .2rem solid var(--purple);
}

@media (max-width:400px) {
    .Items {
        display: none;
    }
}


/* hamberger menu */

.HamberMenu {
    width: 2rem;
    display: none;
}

@media (max-width:400px) {
    .HamberMenu {
        display: block;
        position: absolute;
        padding: 1.3rem;
        right: 0;
    }
}


/* HamberMenu.jsx styles */

.Hamber {
    color: var(--light);
    height: 100vh;
    width: 100%;
    background-color: var(--dark);
    text-align: center;
}

.Hamber li {
    position: relative;
    top: 20%;
    padding: 1rem;
    font-family: 'Open Sans', sans-serif;
}

.Hamber li:hover {
    border-bottom: 1px solid var(--light);
}


/* Nav.jsx styles */

.Name {
    color: #ffffff;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: .22rem;
    font-variant: small-caps;
    font-size: 2rem;
    padding: 7rem;
}


/* description */

.Description {
    color: var(--light);
    font-family: 'Lato', sans-serif;
    margin-left: 7rem;
    font-size: 1rem;
    line-height: 2rem;
    position: absolute;
    top: 56.5%;
    letter-spacing: .17rem;
}


/* HireMe button */

.HireMe {
    appearance: none;
    height: 2.8rem;
    width: 6rem;
    border-style: none;
    cursor: pointer;
    background-color: var(--purple);
    color: var(--light);
    font-size: 1rem;
    font-family: 'Roboto Condensed';
    margin-left: 8%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-top-left-radius: .8rem;
    border-bottom-left-radius: .8rem;
    border-top-right-radius: .8rem;
}


/* Me.jsx styles */

.Me {
    width: 25%;
    border-radius: 50%;
    position: absolute;
    right: 10%;
    border: 5px solid var(--light);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px;
    margin-top: 4rem;
}