* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--minidark);
    direction: ltr;
    font-family: 'Roboto Condensed', sans-serif;
}


/* root vars */

:root {
    --minidark: rgb(29, 27, 27);
    --dark: rgb(20, 20, 20);
    --blue: rgb(49, 106, 230);
    --light: rgb(233, 224, 224);
    --minilight: rgb(97, 96, 96);
}


/* Header.jsx styles */

.Logo {
    position: absolute;
    left: 7.5%;
    top: 4%;
    width: 3.3%;
    cursor: pointer;
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@media (max-width:400px) {
    .Logo {
        width: 10%;
        top: 3%;
    }
}


/* header items */

.Items {
    color: var(--light);
    display: flex;
    justify-content: right;
    gap: 1.6rem;
    list-style: none;
    padding: 2.5rem 8rem;
    font-variant: small-caps;
    font-size: 1.1rem;
    height: 2.5vh;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 30px 28px;
}

.Items li {
    cursor: pointer;
}

.Items li:hover {
    border-bottom: 1.3rem solid var(--blue);
    transition: cubic-bezier(0.075, .5, 0.165, 1) .5s;
}

@media (max-width:400px) {
    .Items {
        display: none;
    }
}


/* hamberger menu */

.HamberMenu {
    width: 2rem;
    display: none;
}

@media (max-width:400px) {
    .HamberMenu {
        display: block;
        position: absolute;
        padding: 1.3rem;
        right: 0;
    }
}


/* HamberMenu.jsx styles */

.Hamber {
    color: var(--light);
    height: 100vh;
    width: 100%;
    background-color: var(--dark);
    text-align: center;
    /* z-index: 999; */
}

.Hamber li {
    position: relative;
    top: 20%;
    padding: 1rem;
}

.Hamber li:hover {
    border-bottom: 1px solid var(--light);
}


/* Nav.jsx styles */

.Name {
    color: #ffffff;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: .22rem;
    font-variant: small-caps;
    font-size: 2rem;
    padding: 7rem;
}

@media (max-width:400px) {
    .Name {
        font-size: 1rem;
        position: absolute;
        top: 34%;
        right: 15%;
        /* z-index: 1; */
    }
}

.Name span {
    color: var(--blue);
}


/* description */

.Description {
    color: var(--light);
    margin-left: 7rem;
    font-size: 1rem;
    line-height: 2rem;
    position: absolute;
    top: 53%;
    letter-spacing: .17rem;
}

@media (max-width:400px) {
    .Description {
        top: 75%;
        line-height: 1.3rem;
        letter-spacing: .12rem;
        width: 75%;
        display: inline-block;
        font-size: .8rem;
        position: absolute;
        right: 6%;
    }
}


/* HireMe button */

.HireMe {
    appearance: none;
    height: 2.8rem;
    width: 6.5rem;
    border-style: none;
    cursor: pointer;
    top: 66%;
    position: absolute;
    background-color: var(--blue);
    color: var(--light);
    font-size: 1rem;
    margin-left: 8%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-top-left-radius: .9rem;
    border-bottom-left-radius: .9rem;
    border-top-right-radius: .9rem;
}

.HireMe:focus {
    background-color: rgb(14, 13, 13);
    transition: all linear .3s;
}

@media (max-width:400px) {
    .HireMe {
        top: 88%;
        margin-left: 18%;
        width: 65%;
    }
}


/* Me.jsx styles */

.Me {
    width: 28%;
    border-radius: 50%;
    position: absolute;
    right: 14%;
    border: 5px solid var(--light);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px;
    margin-top: 8rem;
}

@media (max-width:400px) {
    .Me {
        width: 42%;
        right: 26%;
    }
}


/* social icons styles */

.Social {
    display: flex;
    position: absolute;
    right: 8%;
    width: 1.6%;
    cursor: pointer;
}

.Social:hover {
    right: 8.2%;
    transition: all linear .3s;
    transform: rotate(360deg);
    width: 2%;
}

@media (max-width:400px) {
    .Social {
        width: 5%;
    }
}

.Telegram {
    top: 69.5%;
}

@media (max-width:440px) {
    .Telegram {
        top: 56%;
    }
}

.Spotify {
    top: 63%;
}

@media (max-width:440px) {
    .Spotify {
        top: 50%;
    }
}

.Dribbble {
    top: 56.5%;
}

@media (max-width:440px) {
    .Dribbble {
        top: 44%;
    }
}


/* Services.jsx component styles */

.Service {
    height: 73.5vh;
    width: 100%;
    background-color: var(--dark);
    margin-top: 8rem;
}

@media (max-width:400px) {
    .Service {
        position: absolute;
        top: 78%;
        height: 130vh;
        max-width: 100%;
    }
}


/* Service__Icons */

.Service__Icons {
    display: flex;
    justify-content: center;
    gap: 4.5rem;
    padding-right: 27rem;
    padding-top: 5rem;
    color: var(--minilight);
    font-size: 1.3rem;
}

@media (max-width:400px) {
    .Service__Icons {
        display: none;
    }
}

.Service__Icons span:hover {
    color: var(--light);
    transition: 1.2s;
    transform: rotateX(360deg);
}


/* باید کاری کنم وقتی روی نوشته ها هاور شد، رنگ شون کلا سفید بمونه */

.Service__Icons span,
img {
    cursor: pointer;
}

.Shoppify {
    display: none;
}


/* ServiceItems.jsx component */

.MyServices {
    color: var(--light);
    font-size: 1.2rem;
    padding: 5rem 19.7rem;
    font-weight: bold;
    line-height: 2rem;
}

@media (max-width:400px) {
    .MyServices {
        padding: 0;
        font-size: 1rem;
        width: 70%;
        margin-left: 4.7rem;
        margin-top: 6%;
    }
}


/* Experience.jsx component */

.ExperienceTitle {
    color: var(--blue);
    display: flex;
    font-size: 4rem;
    position: absolute;
    top: 126%;
    margin-left: 10rem;
}

@media (max-width:400px) {
    .ExperienceTitle {
        top: 17%;
        left: 18.5%;
        margin-left: 0;
        letter-spacing: -.3rem;
    }
}

.ExperienceDescription {
    color: var(--light);
    position: absolute;
    top: 140%;
    margin-left: 10rem;
}

@media (max-width:400px) {
    .ExperienceDescription {
        margin-left: 0rem;
        top: 27%;
        left: 19.3%;
    }
}


/* Cards.jsx component */

.Cards {
    display: flex;
    gap: 1.7rem;
    justify-content: center;
}

@media (max-width:400px) {
    .Cards {
        display: block;
        margin-left: 20%;
        margin-top: 40%;
    }
}

.firstCard,
.secondCard,
.thirdCard {
    height: 32vh;
    width: 15%;
    border-radius: .1rem;
    background-color: var(--minidark);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px;
}

.firstCard {
    background-color: var(--blue);
}

@media (max-width:400px) {
    .firstCard,
    .secondCard,
    .thirdCard {
        width: 80%;
        margin-top: 1rem;
    }
}

.firstCard img {
    margin-left: 10%;
    width: 20%;
    position: relative;
    top: 38%;
}

.secondCard img {
    margin-left: 10%;
    width: 17%;
    position: relative;
    top: 38%;
}

.thirdCard img {
    margin-left: 10%;
    width: 17%;
    position: relative;
    top: 38%;
}

.firstCard,
.secondCard,
.thirdCard {
    color: var(--light);
    font-weight: 600;
}

.firstCard,
.secondCard,
.thirdCard,
span {
    position: relative;
    top: 55%;
}

.firstCard,
.secondCard,
.thirdCard,
p {
    position: relative;
    top: 65%;
}